@font-face {
  font-family: Pixelite;
  src: url("../fonts/pixelite.ttf");
}

body {
  user-select: none;

  --main-panel-color: #6d9fff;
  --main-panel-color-highlight: #82acff;
  --main-panel-color-shadow: #6092f1;
  --border-color: #42568b;
  --border-size: 1.8pt;
  --inter-element-spacing: 3pt;
  --panel-height: 25pt;
  --panel-width: 100pt;
  --lgbt: linear-gradient(90deg, red, #FF9A02, #2EFD2A, #00C2FF, #9E00FF);
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#main {
  flex-grow: 1;
  display: flex;
  margin: var(--inter-element-spacing);
}

#menu {
  border-right: none;
  border-top: none;
  border-left: none;
}

#toolbar {
  width: 50pt;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  height: auto;
}

#tools {
  height: available;
  flex-grow: 1;
  margin: var(--inter-element-spacing);
}

#canvas-parent {
  width: 100%;
  background-color: black;
  display: flex;
  overflow: auto;
  position: relative;
  margin-left: var(--inter-element-spacing);
  margin-right: var(--inter-element-spacing);
  flex-direction: column;
}

#sidebar {
  width: 250pt;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#canvas-wrapper {
  position: absolute;
  height: 100%;
}

.canvas-element {
  height: 100%;
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
}

.single-tool {
  aspect-ratio: 1;
  width: 34pt;
  height: 34pt;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  margin-bottom: 6pt;
  outline: var(--border-size) solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#eraser img {
  width: 21pt;
  height: 21pt;
}

.tool-image {
  width: 23pt;
  height: 23pt;
}

.state-button {
  width: 18pt;
  height: 18pt;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  display: inline-block;
}

#undo {
  background-image: url("../images/undo.png");
}

#redo {
  background-image: url("../images/redo.png");
}

#canvas-background {
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: pixelated;
}

#canvas-overlay {
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: pixelated;
  opacity: 0.2;
}

#preview {
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: pixelated;
}

#entity-list {
  flex-grow: 1;
  height: 1pt;
  overflow: auto;
  margin-top: var(--inter-element-spacing);
  border-top: none;
}

.entity {
  box-sizing: border-box;
  border-bottom: var(--border-size) solid black;
  position: relative;
  display: flex;
  align-items: center;
}

.entity-selected {
  background: var(--lgbt);
  border-bottom: var(--border-size) solid black;
}

.entity-image {
  width: 40pt;
  height: 40pt;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  background-color: white;
  margin-right: 5pt;
}

.entity-name {
  margin-right: 15pt;
}

.visibility-button {
  position: absolute;
  background: url("../images/eye-open.png");
  background-size: cover;
  image-rendering: pixelated;
  width: 15pt;
  height: 15pt;
  top: 12pt;
  right: 5pt;
}

.visibility-button-inactive {
  background: url("../images/eye-closed.png");
  background-size: cover;
  image-rendering: pixelated;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Fallback color */
}

/* Modal Content/Box */
.modal-content {
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 70%;
  box-sizing: border-box;
  background-color: white;
  border-bottom: var(--border-size) solid lightgray;
  border-right: var(--border-size) solid lightgray;
  outline: var(--border-size) solid black;
}

.main-panel {
  box-sizing: border-box;
  border: var(--border-size) solid black;
  position: relative;
  height: var(--panel-height);
}

.white-panel {
  box-sizing: border-box;
  background-color: white;
  outline: var(--border-size) solid black;
  position: relative;
}

.other-panel {
  box-sizing: border-box;
  background-color: #C2D7FF;
  outline: var(--border-size) solid var(--border-color);
  position: relative;
}

.text {
  font-family: 'Pixelite', serif;
  font-size: 8pt;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: black;
}

.menu-item {
  padding: 8pt 12pt 0 12pt;
  width: max-content;
  display: inline-block;
}

.label-panel {
  padding-top: 6pt;
  padding-left: 8pt;
  padding-bottom: 6pt;
}

.thing-container {
  padding: 6pt 4pt 6pt 6pt;
}

#state-button-container {
  background-color: white;
  width: max-content;
  margin-top: var(--inter-element-spacing);
  margin-bottom: var(--inter-element-spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6pt;
}

.tool-option-container {
  padding-left: 10pt;
  padding-right: 10pt;
  margin-left: 10pt;
  height: 20pt;
}

*{
  box-sizing: border-box;
}

input[type="color"] {
  -webkit-appearance: none;
  background: #fff;
  width: 20pt;
  height: 20pt;
  border: var(--border-size) solid var(--border-color);
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  padding: 0;
}

input[type=color]::-moz-focus-inner {
  border: none;
  padding: 0;
}

input[type=color]::-moz-color-swatch {
  border: none;
  padding: 0;
}

#canvas-wrapper-wrapper::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

/* Track */
#canvas-wrapper-wrapper::-webkit-scrollbar-track {
  background: lightgray;
}

/* Handle */
#canvas-wrapper-wrapper::-webkit-scrollbar-thumb {
  background: white;
  border: var(--border-size) solid black;
}

/* Handle on hover */
#canvas-wrapper-wrapper::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}

#entity-actions {
  margin-top: var(--inter-element-spacing);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

#zoom-container {
  display: flex;
  margin-bottom: var(--inter-element-spacing);
  justify-content: space-between;
  padding: 5pt;
  border-bottom: var(--border-size) solid black;
}

.zoom-button {
  height: 17pt;
  width: 17pt;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: pixelated;
}

#zoom-in {
  background-image: url("../images/zoom-in.png");
}

#zoom-out {
  background-image: url("../images/zoom-out.png");
}

.button {
  transition: background-image 150ms;
}

.button:hover {
  background-image: var(--lgbt)
}

#file-create-form div {
  margin: 10pt 0;
}

input {
  border: none;
  height: var(--panel-height);
  width: var(--panel-width);
  text-align: center;
}

.text-ordinary {
  font-family: 'Pixelite', serif;
  color: black;
  font-size: 8pt;
}

.table-header {
  height: 30pt;
}

#create-file-final {
  width: var(--panel-width);
}

#shortcuts-table {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: 1fr 3fr;
  padding: var(--border-size);
  overflow: scroll;
  height: 100%;
}

#preview {
  display: none;
  z-index: 10;
}

#frame-container {
  height: 125pt;
  display: none;
  background-color: #C2D7FF;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}

#frame-menu {
  height: 25pt;
}

#footer {
  height: max-content;
  position: relative;
  z-index: 20;
}

.menu-item-frames {
  padding: 6pt 20pt 5pt 20pt;
  margin-top: -2pt;
  width: max-content;
  border-right: var(--border-size) solid #42568b;
  display: inline-block;
}

.button-white {
  transition: background-color 150ms;
}

#preview-menu {
  position: relative;
}

#preview-animation {
  height: 11pt;
  width: 11pt;
  background-size: cover;
  display: inline-block;
  image-rendering: pixelated;
  margin-left: 3pt;
}

.play {
  background-image: url("../images/play.png");
}

.stop {
  background-image: url("../images/stop.png");
}

.button-white:hover {
  background-color: lightgray;
}

#frame-button-container {
  display: flex;
  gap: 10pt;
  padding: 10pt;
}

.frame-button {
  height: 17pt;
  width: 17pt;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  image-rendering: pixelated;
  box-sizing: border-box;
  background-color: var(--main-panel-color);
  border-bottom: var(--border-size) solid var(--main-panel-color-shadow);
  border-right: var(--border-size) solid var(--main-panel-color-shadow);
  border-top: var(--border-size) solid var(--main-panel-color-highlight);
  outline: var(--border-size) solid var(--border-color);
}

#move-frame-up img {
  width: 8pt;
  height: 8pt;
}

#move-frame-down img {
  width: 8pt;
  height: 8pt;
}

#remove-frame img {
  margin-left: 2pt;
}

#frame-list {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  margin-left: 8pt;
  margin-right: 8pt;
  margin-bottom: 10pt;
}

.frame {
  box-sizing: border-box;
  background-color: white;
  /*border-top: var(--border-size) solid white;*/
  /*border-bottom: var(--border-size) solid lightgray;*/
  /*border-right: var(--border-size) solid lightgray;*/
  outline: var(--border-size) solid var(--border-color);
  position: relative;
  display: flex;
  width: 120pt;
  margin: 2pt var(--inter-element-spacing) 2pt 2pt;
  flex-direction: column;
  flex-shrink: 0;
}

.frame-label {
  height: 20pt;
  border-bottom: var(--border-size) solid var(--border-color);
  display: flex;
  width: 100%;
  padding-right: -2pt;
}

.frame-index {
  width: 20pt;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: var(--border-size) solid var(--border-color);
}

.frame-duration {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  padding-left: 10pt;
  padding-right: 10pt;
  width: available;
  flex-grow: 1;
}

.frame-duration:focus {
  -webkit-appearance: none;
  border: none;
}

.frame-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  background-color: white;
  background-position: center;
}

#opacity {
  padding: 0;
  height: 10pt;
  margin: 0 0 0 10pt;
}

#tool-options {
  position: relative;
  width: 100%;
  z-index: 1;
  display: block;
  height: 40pt;
  background: url('../images/modular-background.png');
  background-repeat: repeat-x;
  background-size: contain;
  image-rendering: pixelated;
  background-color: white;
  padding-top: 5pt;
}

#layer-opacity {
  height: 10pt;
  margin-top: 10pt;
}

#canvas-pointer {
  pointer-events: none;
}

#coordinates {
  font-family: 'Pixelite', serif;
  color: black;
  font-size: 8pt;
  position: relative;
  bottom: 0;
  background-color: white;
  border-right: var(--border-size) solid black;
  width: 120pt;
  padding-top: 7pt;
  padding-left: 10pt;
  height: 25pt;
}

#color-picker {
  height: 110pt;
}

#palette {
  margin-top: 6pt;
  height: 35pt;
}

#navigation {
  margin-top: 6pt;
  height: 100pt;
}

#entity-choice {
  display: flex;
  justify-content: space-between;
  padding: 10pt;
  border: var(--border-size) solid black;
  border-bottom: none;
  margin: -1.5pt;
  margin-top: 6pt;
}

.entity-chosen {
  background-image: var(--lgbt)
}

#element-container {
  margin-top: 6pt;
  flex-grow: 1;
  height: 1pt;
}

#entity-actions {
  margin-top: 6pt;
  padding: 5pt;
}

#add-entity {
  background-image: url("../images/add.png");
  width: 18pt;
  height: 18pt;
}

.entity-action {
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: pixelated;
}

#remove-entity {
  background-image: url("../images/remove.png");
  width: 18pt;
  height: 18pt;
}

#move-entity-up {
  background-image: url("../images/up.png");
  width: 15pt;
  height: 15pt;
}

#move-entity-down {
  background-image: url("../images/down.png");
  width: 15pt;
  height: 15pt;
}

#merge-entities {
  background-image: url("../images/merge.png");
  width: 18pt;
  height: 19pt;
}

#duplicate-entity {
  background-image: url("../images/copy.png");
  width: 18pt;
  height: 19pt;
}

.frame-duration {
  position: absolute;
  top: 12pt;
  right: -8pt;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.frame-duration div {
  color: black;
  font-size: 4pt;
  font-family: 'Pixelite', serif;
  margin-top: 1pt;
}

.frame-duration img {
  width: 13pt;
  height: 13pt;
  background-image: url("../images/duration.png");
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

.range-popup {
  background-color: white;
  width: 100pt;
  border: var(--border-size) solid black;
  padding-top: 10pt;
  padding-left: 10pt;
  display: none;
}

.range-popup span {
  font-size: 6pt;
}

.range-popup input {
  width: 75pt;
}

input[type=range] {
  height: 25px;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--lgbt);
  border-radius: 0px;
  border: 2px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #000000;
  height: 17px;
  width: 17px;
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--lgbt)
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--lgbt);
  border-radius: 0px;
  border: 2px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #000000;
  height: 17px;
  width: 17px;
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: white;
  border: 2px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #000000;
  height: 17px;
  width: 17px;
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FFFFFF;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FFFFFF;
}

#to-main-page span {
  background-image: linear-gradient(90deg, red, #FF9A02, #2EFD2A, #00C2FF, #9E00FF);
}

#to-main-page a:link {
  text-decoration: none;
}

#to-main-page a:hover {
  text-decoration: none;
}

.drop-down-menu {
  background-color: white;
  border: var(--border-size) solid black;
  border-bottom: none;
  width: 100pt;
  z-index: 30;
}

.drop-down-item {
  padding: 5pt 10pt;
  border-bottom: var(--border-size) solid black;
}

#color-picker {
  display: flex;
}

#picker-container {
  flex-grow: 1;
  height: inherit;
  display: flex;
  justify-content: center;
}

#wheel-canvas {
  height: inherit;
  aspect-ratio: 1;
  padding: 5pt;
}

#rectangle-canvas {
  position: absolute;
  width: 60pt;
  height: 60pt;
  top: 25pt;
}

#color-chosen {
  width: 30pt;
  background-color: black;
}

#avatarUrl {
  height: 50pt;
  width: 50pt;
  image-rendering: pixelated;
}

#canvas-wrapper-wrapper {
  position: relative;
  flex-grow: 1;
  overflow: scroll;
}

#canvas-bottom {
  height: max-content;
  width: 100%;
  background-color: white;
}
