@font-face {
  font-family: Pixelite;
  src: url("../fonts/pixelite.ttf");
}

body {
  user-select: none;

  --main-panel-color: #6d9fff;
  --main-panel-color-highlight: #82acff;
  --main-panel-color-shadow: #6092f1;
  --border-color: #42568b;
  --border-size: 2pt;
  --inter-element-spacing: 10pt;

  margin: var(--inter-element-spacing);
  background-color: var(--main-panel-color);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#main {
  flex-grow: 1;
  display: flex;
  margin-top: var(--inter-element-spacing);
  margin-bottom: var(--inter-element-spacing);
}

#toolbar {
  width: 150pt;
  display: flex;
  flex-direction: column;
}

#tools {
  height: available;
  flex-grow: 1;
  margin-top: var(--inter-element-spacing);
}

#footer {
  height: 35pt;
}

#canvas-parent {
  width: 100%;
  width: available;
  width: fill-available;
  width: fill-available;
  background-color: var(--border-color);
  display: block;
  overflow: scroll;
  position: relative;
  margin-left: var(--inter-element-spacing);
  margin-right: var(--inter-element-spacing);
}

#sidebar {
  width: 200pt;
  overflow: scroll;
}

#canvas-wrapper {
  position: absolute;
  height: 100%;
  margin: var(--inter-element-spacing);
}

.canvas-element {
  height: 100%;
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
}

.single-tool {
  width: 50pt;
  height: 50pt;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.state-button {
  width: 40pt;
  height: 40pt;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  display: inline-block;
}

#undo-button {
  background-image: url("../images/undo.ico");
}

#redo-button {
  background-image: url("../images/redo.ico");
}

#canvas-background {
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: pixelated;
}

#layer-container {
  height: 225pt;
  overflow: scroll;
}

.layer-element {

}

.layer-element-selected {
  background-color: darkgreen;
}

.layer-image {
  width: 30pt;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  background-color: white;
}

.visibility-button {
  background-color: blue;
  width: 10pt;
  height: 10pt;
}

.visibility-button-inactive {
  background-color: grey;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0 0 0); /* Fallback color */
  background-color: rgb(0 0 0 / 40%); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.main-panel {
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--main-panel-color);
  border-bottom: var(--border-size) solid var(--main-panel-color-shadow);
  border-right: var(--border-size) solid var(--main-panel-color-shadow);
  border-top: var(--border-size) solid var(--main-panel-color-highlight);
  outline: var(--border-size) solid var(--border-color);
  position: relative;
  height: 25pt;
}

.white-panel {
  box-sizing: border-box;
  background-color: white;
  border-bottom: var(--border-size) solid lightgray;
  border-right: var(--border-size) solid lightgray;
  outline: var(--border-size) solid var(--border-color);
  position: relative;
}

.other-panel {
  box-sizing: border-box;
  background-color: #C2D7FF;
  outline: var(--border-size) solid var(--border-color);
  position: relative;
}

.text {
  font-family: 'Pixelite', serif;
  color: white;
  font-size: 15pt;
  text-shadow:
          2px  0 0 var(--border-color),
          0 2px 0 var(--border-color),
          0 -2px 0 var(--border-color),
          -2px 0 0 var(--border-color),
          -2px -2px 0 var(--border-color),
          2px -2px 0 var(--border-color),
          -2px  2px 0 var(--border-color),
          2px  2px 0 var(--border-color);
}

.menu-item {
  padding: 5pt 20pt 4pt 20pt;
  margin-top: -2pt;
  width: max-content;
  border-right: var(--border-size) solid #42568b;
  display: inline-block;
}

.label-panel {
  padding-top: 3pt;
  padding-left: 8pt;
}

.thing-container {
  padding: 6pt 4pt 6pt 6pt;
}

#state-button-container {
  margin-top: var(--inter-element-spacing);
  margin-bottom: var(--inter-element-spacing);
}
